body {
    color: #474747;
    background-color: #FFFFFF;
}

h1.article_title,
h1.article_title a {
    color: #474747;
}

pre,
blockquote,
code,
.code_snippet {
    background: #f5f7f8;
    background: #cac9c9;
}

