body {
    color: #474747;
    background-color: #FFFFFF;
}

h1.article_title,
h1.article_title a {
    color: #474747;
}

pre,
blockquote,
code {
    background: #f5f7f8;
}

figure > figcaption {
    color: #5c5c5c;
}


